:root { 

    // -- Addons --

    // BetterAvatar Popout

    --popout-status-icon: none; // Set it to "block" if u want to have the status icon in big popouts
    --popout-status-mask: none; // Set it to "url(#svg-mask-avatar-status-round-80)" if u want to enable the avatar mask in big popouts
    --avatar-radius: 10%; // Change the roundness of avatar in big popouts, u need to disable the mask to use this

    // Colored emoji picker
    --colored-emoji: grayscale(0%); // Change the value to "100%" if u want the basic one

    // BetterSpotify --> Delete all until "BetterPopout" if u don't want it
    
    .powercord-spotify .spotify-seek-bar {
        position: absolute;
        bottom: 0px;
        width: 280px;
        height: 55px;
        -webkit-mask-image: linear-gradient(0.25turn, #0009, #0003);
        mask-image: linear-gradient(0.25turn, #0009, #0003);
    }
    .powercord-spotify.hover { height: 55px; }
    .powercord-spotify > .container-3baos1 > .avatarWrapper-2yR4wp, .powercord-spotify > .container-3baos1 > .nameTag-3uD-yy, .spotify-buttons, .spotify-seek-duration { z-index: 1; }

    // BetterPopout --> Delete all until "Others settings" if u don't want it
    .note-3HfJZ5, .bodyTitle-Y0qMQz:nth-child(3), .footer-1fjuF6 { display: none; }
    .rolesList-22qj2L { margin-bottom: 0px; }

    // -- Others settings --

    // Image when u don't have the Spotify/Game/Stream popup
    --no-activity-image: url("https://emoji.gg/assets/emoji/WumpusLove.png"); // Put the url of your image here
    --no-activity-image-opacity: 0.6; // 0 = transparent / 1 = opaque

    // Mention color
    --mention-color-bar: #C66262;
    --mention-color-background: #c662621f;
    --mention-color-hover: #c6626226;

    // Spotify seek bar color
    --spotify-color: #096dc0 !important;

    // User settings color (Mute, Deafen and settings)
    --user-buttons-color: #096dc0;

    // Chat buttons color
    --chat-buttons: #6E85D3;

    // Circles next to role names
    --role-circle: 7px; // Set it to "0px" if u don't want circles

    // Tooltips (Example : https://i.ibb.co/hDSQtqw/Capture.png)
    --tooltips: block; // Set it to "none" if u don't want it

    // Discord logo
    --discord-logo: none; // Set it to "block" if u want it

} // thx snapperito and Harley for the help :3