/**
 * @name Comfy-theme
 * @author Nyria#0001
 * @description A simple customisable comfy theme
 * @version 1.0.0
 */

 @import "https://nyri4.github.io/Comfy-theme/BetterDiscord/main.css";

 :root { 
 
     /* -- Addons -- */
 
     /* BetterAvatar Popout */
 
     --popout-status-icon: none; /* Set it to "block" if u want to have the status icon in big popouts */
     --popout-status-mask: none; /* Set it to "url(#svg-mask-avatar-status-round-80)" if u want to enable the avatar mask in big popouts */
     --avatar-radius: 10%; /* Change the roundness of avatar in big popouts, u need to disable the mask to use this */
 
     /* Colored emoji picker */
     --colored-emoji: grayscale(0%); /* Change the value to "100%" if u want the basic one */
}

    /* BetterPopout --> Delete all until "Others settings" if u don't want it */
    .note-3HfJZ5, .bodyTitle-Y0qMQz:nth-child(3), .footer-1fjuF6 { display: none; }
    .rolesList-22qj2L { margin-bottom: 0px; }

     /* -- Others settings -- */

    /* Private/NSFW colored logo */
    [d="M21.025 5V4C21.025 2.88 20.05 2 19 2C17.95 2 17 2.88 17 4V5C16.4477 5 16 5.44772 16 6V9C16 9.55228 16.4477 10 17 10H19H21C21.5523 10 22 9.55228 22 9V5.975C22 5.43652 21.5635 5 21.025 5ZM20 5H18V4C18 3.42857 18.4667 3 19 3C19.5333 3 20 3.42857 20 4V5Z"] { 
        fill: #8d372d; 
    } /* Delete those 3 lines if u don't want it */

    [d="M19.8914 3.80204L22.2438 8.55654C22.5726 9.22119 22.0891 9.99999 21.3475 10L16.6179 10C15.8745 10 15.391 9.21769 15.7235 8.55279L18.1007 3.79829C18.4701 3.05951 19.5251 3.06172 19.8914 3.80204ZM18.4998 5H19.4999V7.5H18.4999L18.4998 5ZM18.4998 8.49887C18.4998 8.77589 18.7238 9 18.9998 9C19.2759 9 19.4999 8.77589 19.4999 8.49887C19.4999 8.22224 19.2759 7.99773 18.9998 7.99773C18.7238 7.99773 18.4998 8.22224 18.4998 8.49887Z"] {
        fill: #b69e3f;
    } /* Delete those 3 lines if u don't want it */

:root {

    /* User settings color (Mute, Deafen and settings) */
    --user-buttons-color: #096dc0;

    /* User settings spacing */
    --user-buttons-spacing: 10px;

    /* Chat buttons color */
    --chat-buttons: #6E85D3;
 
    /* Circles next to role names */
    --role-circle: 7px; /* Set it to "0px" if u don't want circles */
 
    /* Tooltips */
    --tooltips: block; /* Set it to "none" if u don't want it */

    /* Discord logo */
    --discord-logo: none; /* Set it to "block" if u want it */
 
 } /* thx snapperito and Harley for the help :3 */
 
 .theme-dark {
     --background-tertiary: #101320 !important;
     --background-secondary: #1e2233 !important;
     --background-secondary-alt: #191f2e !important;
     --background-primary: #23283d !important;
     --channeltextarea-background: #191f2e !important;
     --background-accent: #6E85D3 !important;
     --background-modifier-hover: #1c2030 !important;
     --background-modifier-active: #1a1e2e !important;
     --background-modifier-selected: #191f2e !important;
     --deprecated-card-bg: #12141f63 !important;
     --background-floating: #101320 !important;
     --deprecated-quickswitcher-input-background:#101320 !important;
     --scrollbar-auto-thumb: #121722 !important;
     --scrollbar-auto-track: #191f2e !important;
     --scrollbar-thin-thumb: #141925 !important;
     --spotify-color: #096dc0 !important;
     --elevation-low: none;
 }
 
 .theme-light {
     --background-tertiary: #101320 !important;
     --background-secondary: #1e2233 !important;
     --background-secondary-alt: #191f2e !important;
     --background-primary: #23283d !important;
     --header-primary: #fff !important;
     --header-secondary: #b1b5b9 !important;
     --text-normal: #8e9297 !important;
     --scrollbar-thin-thumb: #141925 !important;
 }