/* --- 😀 PARTIE MP --- */

/* Collone amis */
.peopleColumn-29fq28 { background: var(--background-primary);}

/* Appel amis */
.primaryDark-3mSFDl {background: var(--background-secondary-alt) !important;}

/* Selecteur région appel amis */
.regionSelectPopout-p9-0_W { background: var(--background-secondary-alt) !important;}
.quickSelect-3BxO0K { margin-top: 10px;}

/* Activité amis */
.itemCard-v9viV7.active-1xchHY, .itemCard-v9viV7:hover, .popout-38lTFE { background: var(--background-tertiary);}
.wrapper-3Rixsz:hover, .memberListItem-31QoHj:hover, .body-1ld4H7 { background: var(--background-secondary-alt) !important;}

/* --- 📜 PARTIE LISTE SERVEURS --- */
.scroller-2TZvBN { margin-bottom: 170px;}

/* Avatar */
.panels-j1Uci_ > .container-3baos1 > .avatarWrapper-2yR4wp {
    position: fixed;
    bottom: 18px; left: 13px;
}
.avatarWrapper-2yR4wp > .avatar-SmRMf2.wrapper-3t9DeA { padding: 3px; }

/* Status */
[id="status-picker"] > .scroller-3BxosC { display: flex; flex-direction: row;}

.animatorTop-2Y7x2r > .styleFixed-sX-yHV {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: auto;
    background: var(--background-tertiary);
    bottom: -60px;
    left: 70px;
}

.statusItem-33LqPf { grid-template-columns: none;}
.footer-2gL1pp { background: var(--background-tertiary) !important;}
.customEmojiPlaceholder-37iZ_j { background-image: url(https://i.ibb.co/hVKW6Xs/e.png);}
.description-2L932D, .status-1fhblQ { display: none;}
.separator-2I32lJ { display: none;}

.animatorTop-2Y7x2r > .menu-3sdvDG::after { 
    content: "";
    position: absolute;
    top: 45%;
    left: 0%;
    margin-left: -10px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent var(--background-tertiary) transparent transparent;
}

/* Boutons utilisateur */  
.container-3baos1 > .flex-1xMQg5:not(.spotify-buttons) {
    position: fixed;
    transition: left 0.5s;
    z-index: 1;
    bottom: 68px;
    left: -121px;
    background: var(--background-secondary-alt);
    border-radius: 0 5px 5px 0;
}
.container-3baos1 > .flex-1xMQg5:not(.spotify-buttons):hover { left: 0px;}
.flex-1xMQg5:not(.spotify-buttons) > .button-14-BFJ { color: var(--user-buttons-color); margin-left: 15px; margin-right: 15px;}

/* Spotify */
.container-6sXIoE {
    position: fixed;
    transition: left 0.5s;
    bottom: 105px;
    left: -200px;
    z-index: 1;
    width: 265px;
    background: var(--background-secondary-alt);
    border-radius: 0 5px 5px 0;
    border-bottom: none;
}

.details-ntX2k5 { margin-right: 25px;}
.barText-lmqc5O { display: none;}
.container-6sXIoE > .inner-WRV6k5 { flex-direction: row-reverse;}
.inner-WRV6k5 > .flex-1xMQg5 > .button-14-BFJ { margin: 0;}
.container-6sXIoE:hover { left: 0px;}

/* Notification de mention */
.unreadMentionsIndicatorBottom-BXS58x { margin-bottom: 163px;}

.vp-audioviz-bar { background: #042d50fb; }

/* --- ✏️ PARTIE SALONS --- */

/* Supprime le fond du panel utilisateur */
.panels-j1Uci_ { width: 0;}

/* Flèche catégeories */
.mainContent-2h-GEV > .arrow-gKvcEx { display: none; }

/* Ajout rôle permissions salon */
.header-2bNvm4 { background: var(--background-secondary-alt) !important; }
.sectionTag-pXyto9 { background: var(--background-secondary) !important; }

/* --- 💬 PARTIE TCHAT --- */

/* Barre du salon */
.container-1r6BKw { background: var(--background-secondary) !important; }
.children-19S4PO:after { display: none;}

/* Barre "Echec de chargement des messages */
.messagesErrorBar-nyJGU7 { border-radius: 100px; padding-bottom: 0; margin-bottom: 5px;}

/* Nouveaux messages */
.newMessagesBar-265mhP { background-color: #6e85d3; border-radius: 50px; margin-top: 5px; }

/* Bouton 'Suivre' */
.children-19S4PO > .followButton-L6L-Us { background: var(--background-secondary-alt); }

/* Revenir aux messages récents */
.jumpToPresentBar-G1R9s6, .jumpToPresentBar-G1R9s6:active { margin-bottom: 13px; border-radius: 50px; padding: 0;}

/* Menu # ou @ */
.autocomplete-1vrmpx { background: var(--background-secondary-alt) !important;}
.selected-1Tbx07 { background: var(--background-secondary) !important;}

/* Message d'upload */
.uploadModal-2ifh8j { background: var(--background-primary) !important;}
.footer-3mqk7D { background: var(--background-tertiary) !important;}

/* Selecteur d'emotes */
.sprite-2iCowe { filter: var(--colored-emoji) !important;}
.emojiItemSelected-1aLkfV { background: var(--background-tertiary) !important;}

/* i'm blue dabedi dabeda */
.attachButtonPlus-jWVFah { fill: var(--chat-buttons) !important;}
.buttonWrapper-1ZmCpA, .icon-3D60ES { color: var(--chat-buttons) !important; }
.colorGrey-2DXtkV { background: var(--chat-buttons); }

/* Barre de recherche */
.container-3ayLPN, .searchAnswer-3Dz2-q, .searchFilter-2ESiM3, .react-datepicker, .react-datepicker__header { background: var(--background-primary) !important;}
.react-datepicker__day { background: var(--background-secondary) !important;}
.react-datepicker__day:hover, .focused-2bY0OD { background: var(--background-secondary-alt) !important;}
.dim-1l4L4y span { background: var(--background-accent) !important;}
.searchLearnMore-3SQUAj, .option-96V44q:after { display: none; }

/* --- 👥 PARTIE MEMBRES --- */

/* Popup d'un membre */
.headerNormal-T_seeN, .headerPlaying-j0WQBV, .headerStreaming-2FjmGz, .headerSpotify-zpWxgT, .headerXbox-3G-4PF { background: #151b27 !important;}
.activityUserPopout-2yItg2 { border-radius: 5px; margin: 0 8px 15px 8px; padding: 10px;}
.headerPlaying-j0WQBV > .activityUserPopout-2yItg2 { background: #7289DA; box-shadow: 0px 4px 0px #46599c;}
.headerSpotify-zpWxgT > .activityUserPopout-2yItg2 { background: #1DB954; box-shadow: 0px 4px 0px #11923e;}
.headerStreaming-2FjmGz > .activityUserPopout-2yItg2 { background: #593695; box-shadow: 0px 4px 0px #47287c;}
.headerXbox-3G-4PF  > .activityUserPopout-2yItg2 { background: #107C10; box-shadow: 0px 4px 0px #095509;}

.body-3iLsc4, .footer-1fjuF6 { background: var(--background-secondary) !important; }

/* Roles */
.role-2irmRk {
    position: relative;
    overflow: hidden;
    z-index: 1;
    border: solid;
    border-width: 0px 0px 0px 3px;
    border-radius: 1px 3px 3px 1px;
}

.roleCircle-3xAZ1j { width: var(--role-circle); height: var(--role-circle);}

.roleCircle-3xAZ1j::before {
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: inherit;
    opacity: 0.3;
    z-index: -1;
}

/* - Popup agrandie d'un membre - */

/* Meilleur avatar dans les popouts */
.header-QKLPzZ > .wrapper-3t9DeA > .mask-1l8v16 > .pointerEvents-2zdfdO { display: var(--popout-status-icon); }
.header-QKLPzZ > .wrapper-3t9DeA > .mask-1l8v16 foreignObject { mask: var(--popout-status-mask); border-radius: var(--avatar-radius); }
.header-QKLPzZ > .wrapper-3t9DeA > .avatarHint-1qgaV3 foreignObject { mask: var(--popout-status-mask); border-radius: var(--avatar-radius); }

/* Badges */
.headerInfo-30uryT > .profileBadges-2vWUYb { display: flex; flex-wrap: wrap; }
.headerInfo-30uryT > .profileBadges-2vWUYb > .profileBadgeWrapper-1rGSsp { padding-bottom: 7px; }

/* Status */
.root-SR8cQa > .topSectionSpotify-1lI0-P, .root-SR8cQa > .topSectionPlaying-1J5E4n, .root-SR8cQa > .topSectionStreaming-1Tpf5X, .root-SR8cQa > .topSectionXbox-3fWLjS { background: var(--background-tertiary);}
.activityProfile-2bJRaP { border-radius: 5px; margin: 0 13px 13px 13px;}
.topSectionPlaying-1J5E4n > .headerFill-adLl4x > .activityProfile-2bJRaP { background: #7289DA; box-shadow: 0px 4px 0px #46599c;}
.topSectionSpotify-1lI0-P > .headerFill-adLl4x > .activityProfile-2bJRaP { background: #1DB954;  box-shadow: 0px 4px 0px #11923e;}
.topSectionStreaming-1Tpf5X > .headerFill-adLl4x > .activityProfile-2bJRaP { background: #593695; box-shadow: 0px 4px 0px #47287c;}
.topSectionXbox-3fWLjS > .headerFill-adLl4x > .activityProfile-2bJRaP { background: #107C10; box-shadow: 0px 4px 0px #095509;}
.actionButton-3W1xZa { background: var(--background-primary) !important;}

.tabBarContainer-1s1u-z { border-top: none; }

/* Réseaux sociaux */
.connectedAccount-36nQx7 {
    border: solid #151b27;
    border-width: 1.2px 1.2px 3px 1.2px;
    border-radius: 4px;
    padding: 0 20px 0 0;
}

.connectedAccountIcon-3P3V6F { padding: 8px; border-radius: 4px 0 0 4px;}
.connectedAccountName-f8AEe2 { margin-left: 13px;}
[src="/assets/4662875160dc4c56954003ebda995414.png"] { background: #1da0f248; }
[src="/assets/edbbf6107b2cd4334d582b26e1ac786d.png"] { background: #601bd852; }
[src="/assets/449cca50c1452b4ace3cbe9bc5ae0fd6.png"] { background: #d9252b49; }
[src="/assets/8c289d499232cd8e9582b4a5639d9d1d.png"] { background: #0098e446; }
[src="/assets/f09c1c70a67ceaaeb455d163f3f9cbb8.png"] { background: #00000034; }
[src="/assets/3abe9ce5a00cc24bd8aae04bf5968f4c.png"] { background:#fe44013d; }
[src="/assets/8d8f815f3d81a33b1e70ec7c22e1b6fe.png"] { background: #2e328485; }
[src="/assets/f0655521c19c08c4ea4e508044ec7d8c.png"] { background: #1ed75f34; }
[src="/assets/0d44ba28e39303de3832db580a252456.png"] { background: #5dc21e42; }
[src="/assets/806953fe1cc616477175cbcdf90d5cd3.png"] { background: #cea14638; }
[src="/assets/5d69e29f0d71aaa04ed9725100199b4e.png"] { background: #24292e; }

/* --- 👤 PARAMETRE UTILISATEUR --- */

/* Connexion */
.connectionIcon-2ElzVe { border-radius: 5px; padding: 4px;}

/* Facturation */
.paymentRow-2e7VM6, .pageActions-1SVAnA, .codeRedemptionRedirect-1wVR4b { background: var(--background-secondary-alt) !important; }
.expandedInfo-3kfShd { background: var(--background-secondary) !important; }

/* Voix & Vidéo */
.previewOverlay-2O7_KC { background: var(--background-secondary-alt) !important; border-color: var(--background-tertiary) !important; }

/* Activité de jeux */
.notDetected-33MY4s, .addGamePopout-2RY8Ju, .gameNameInput-385LoS:focus, .gameNameInput-385LoS:hover { background: var(--background-secondary-alt) !important; }
.gameNameInput-385LoS:focus, .gameNameInput-385LoS:hover { border-color: var(--background-secondary-alt) !important; }
.cancelButton-10XRsm { background: transparent;}

/* --- ⚙️ PARAMETRE SERVEUR --- */

/* Notification de modifications */
.container-2VW0UT { background: var(--background-tertiary) !important; }

/* Selecteur de pays */
.regionSelectModal-12e-57 .regionSelectModalOption-2DSIZ3 { background: var(--background-secondary-alt); border: none;}

/* Rôles */
.colorPickerCustom-2CWBn2 { background: var(--background-secondary) !important; border-radius: 5px;}

/* Emoji */
.emojiInput-1aLNse { background: var(--background-secondary-alt) !important;}

/* Logs du serveur */
.headerExpanded-CUEwZ5, .headerDefault-1wrJcN, .headerClickable-2IVFo9 { background: var(--background-secondary-alt) !important;} /* Coloration des logs */
.auditLog-3jNbM6 { border-color: var(--background-secondary) !important;}
.divider-1pnAR2 { display: none;}
.popoutList-T9CKZQ { background: var(--background-secondary-alt) !important; }
.selectableItem-1MP3MQ:hover { background: var(--background-secondary) !important; }

/* Intégrations */
.card-o7rAq-, .header-146Xl5 { background: var(--background-secondary-alt); border-color: transparent !important;}
.body-1zRX82, .cardPrimaryEditable-3KtE4g { background: var(--background-secondary); border-color: transparent !important;}

/* Vue d'ensemble */
.css-3vaxre-menu { background: var(--background-secondary-alt) !important; border: 1px solid var(--background-tertiary) !important; }

/* Ecran d'acceuil */
.addChannelButton-3j20Ox, .descriptionInput-3b30C8 { background: var(--background-secondary-alt) !important; border: none;}

/* Boost dans parametres */
.tierBody-x9kBBp { background: var(--background-secondary) !important; }
.tierHeaderContent-2-YfvN, .tierInProgress-3mBoXq { background: var(--background-secondary-alt) !important; }
.background-3xPPFc { color: var(--background-secondary-alt) !important; }

/* Boost */
.perksModal-fSYqOq { background: var(--background-primary) !important; }
.tierMarkerBackground-3q29am, .tierHeaderLocked-1s2JJz, .barBackground-2EEiLw, .icon-TYbVk4 { background: var(--background-secondary-alt) !important; }
.option-96V44q.selected-rZcOL-, .tierBody-16Chc9, .perk-2WeBWW, .tierMarkerInProgress-24LMzJ { background: var(--background-secondary) !important; }

/* Membres */
.overflowRolesPopout-140n9i{ background: var(--background-secondary) !important; }

/* --- 🌺 AUTRE --- */

/* Message rejoindre serveur */
.contentWrapper-3WC1ID { background: var(--background-secondary) !important;}

/* Message de bienvenue */
.root-1gCeng:not(.modal-qgFCbT) { background: var(--background-secondary);}

/* Exporateur de serveurs */
.css-ix84ef-menu { background: var(--background-secondary-alt); }
.pageWrapper-1PgVDX, .css-1adxh11-control, .css-12hk9yc-control, .css-1emou8a-control { background: var(--background-secondary) !important; }
.theme-light .root-1gCeng, .theme-light .footer-2gL1pp { box-shadow: none; }

/* Paramètres de notifications */
.inner-1ilYF7 > .modal-yWgWj- > .header-1TKi98, .modal-yWgWj- { background: var(--background-secondary) !important; }
.inner-1ilYF7 > .modal-yWgWj- > .scrollerBase-289Jih { background: var(--background-secondary); }

/* Suppresion du logo Discord */
.wordmark-2iDDfm > svg { display: var(--discord-logo); } 

/* Popout "Regarder le stream" */
.body-Ogsp8i { background: var(--background-tertiary) !important;}

/* Popout supprimer un message */
.message-2qRu38 { background: var(--background-primary) !important; }

/* Infobulles */
.tooltip-2QfLtc { display: var(--tooltips); background: var(--background-tertiary) !important;}
.theme-dark .tooltipBlack-PPG47z .tooltipPointer-3ZfirK { border-top-color: var(--background-tertiary);}

/* Combo clavier */
.keyboardShortcutsModal-3piNz7 { background: var(--background-primary) !important; }

/* Jeux de Discord */
.scroller-1JpcIc { background: var(--background-primary) !important; }
.whyYouMightLikeIt-2zZIIj, .content-35aVm0, .bodySection-jqkkIP, .row-1bU71H { background: var(--background-secondary) !important; }

/* Activité de jeux et salon vocal */
.activityPanel-28dQGo, .container-1giJp5 { border-bottom: none; }