/* --- 😀 PARTIE MP --- */

/* Collone amis */
.peopleColumn-29fq28 { background: var(--background-primary) !important;}

/* Activité amis */
.itemCard-v9viV7.active-1xchHY, .itemCard-v9viV7:hover, .popout-38lTFE { background: var(--background-tertiary) !important;}
.wrapper-3Rixsz:hover, .memberListItem-31QoHj:hover, .body-1ld4H7 { background: var(--background-secondary-alt) !important;}


/* --- 📜 PARTIE LISTE SERVEURS --- */

/* Boutons utilisateur */
.panels-j1Uci_ > .container-3baos1 {
    position: fixed;
    background: var(--background-tertiary) !important;
    z-index: 5;
    bottom: 0px; left: 0px;
    padding: 45px 15px 45px;
    margin-bottom: 0;
}

.flex-1xMQg5 > .button-14-BFJ { color: #096dc0; margin: 5px; }
.container-3baos1 > .flex-1xMQg5:not(.spotify-buttons) { display: flex; flex-direction: column;}

/* Supprime le nom de l'utilsateur */
.canCopy-2VBT7N { display: none; } 

/* Notification de mention */
.unreadMentionsIndicatorBottom-BXS58x { position: fixed; z-index: 6; bottom: 110px; left: 0px; }


/* --- ✏️ PARTIE SALONS --- */

/* Flèche catégeories */
.mainContent-2h-GEV > .arrow-gKvcEx { display: none; }


/* --- 💬 PARTIE TCHAT --- */

/* Barre du salon */
.container-1r6BKw { background: var(--background-secondary) !important; }

/* Barre de tchat */
.channelTextArea-rNsIhG { width: auto; margin: 11px 0 24px 55px;}

/* Barre de news */
.wrapper-39oAo3 { width: auto; margin: 11px 0 24px 55px;}

/* Revenir aux messages récents */
.jumpToPresentBar-G1R9s6, .jumpToPresentBar-G1R9s6:active { margin-bottom: -10px; margin-left: 55px;}

/* Menu # ou @ */
.autocomplete-1vrmpx { background: var(--background-secondary-alt) !important;}

/* Message d'upload */
.uploadModal-2ifh8j { background: var(--background-primary) !important;}
.footer-3mqk7D { background: var(--background-tertiary) !important;}

/* En train d'écrire */
.typing-2GQL18 { margin-left: 50px; }

/* Avatar */
.panels-j1Uci_ > .container-3baos1 > .avatarWrapper-2yR4wp { 
    position: fixed;
    z-index: 5;
    bottom: 31px;
    left: 325px;
}

.avatarWrapper-2yR4wp > .avatar-SmRMf2.wrapper-3t9DeA { padding: 4px; }
.container-1D34oG, .container-3Mxszk, .applicationStore-1pNvnv, .pageWrapper-1PgVDX, .wrapper-2qzCYF { z-index: 6;} /* Cacher l'avatar */

/* Status */
.animatorTop-2Y7x2r > .styleFixed-sX-yHV { width: 45px; background: var(--background-tertiary) !important;}
.footer-2gL1pp { background: var(--background-tertiary) !important;}
.customEmojiPlaceholder-37iZ_j { background-image: url(https://i.ibb.co/hVKW6Xs/e.png);}
.description-2L932D, .status-1fhblQ, .separator-2I32lJ { display: none;}

/* Selecteur d'emotes */
.sprite-2iCowe { filter: grayscale(0) !important;}
.emojiItemSelected-1aLkfV { background: var(--background-tertiary) !important;}

/* Bouttons en bleu */
.attachButtonPlus-jWVFah { fill: #6E85D3 !important;}
.buttonWrapper-1ZmCpA { color: #6E85D3 !important; }
.colorGrey-2DXtkV { background: #6E85D3 !important; }

/* Barre de recherche */
.container-3ayLPN, .searchAnswer-3Dz2-q, .searchFilter-2ESiM3, .react-datepicker, .react-datepicker__header { background: var(--background-primary) !important;}
.react-datepicker__day { background: var(--background-secondary) !important;}
.react-datepicker__day:hover, .focused-2bY0OD { background: var(--background-secondary-alt) !important;}
.dim-1l4L4y span { background: var(--background-accent) !important;}
.searchLearnMore-3SQUAj, .option-96V44q:after { display: none; }


/* --- 👥 PARTIE MEMBRES --- */

/* Popup d'un membre */
.headerNormal-T_seeN, .headerPlaying-j0WQBV, .headerStreaming-2FjmGz, .headerSpotify-zpWxgT { background: var(--background-secondary-alt) !important;}
.activityUserPopout-2yItg2 { border-radius: 5px; margin: 0 8px 12px 8px; padding: 10px;}
.headerPlaying-j0WQBV > .activityUserPopout-2yItg2 { background: #7289DA !important;}
.headerStreaming-2FjmGz > .activityUserPopout-2yItg2 { background: #593695 !important;}
.headerSpotify-zpWxgT > .activityUserPopout-2yItg2 { background: #1DB954 !important;}
.body-3iLsc4, .footer-1fjuF6 { background: var(--background-secondary) !important; }

/* Popup agrandie d'un membre */
.root-SR8cQa > .topSectionSpotify-1lI0-P, .root-SR8cQa > .topSectionPlaying-1J5E4n, .root-SR8cQa > .topSectionStreaming-1Tpf5X { background: var(--background-tertiary) !important;}
.activityProfile-2bJRaP { border-radius: 5px; margin: 0 13px 13px 13px;}
.topSectionSpotify-1lI0-P > .headerFill-adLl4x > .activityProfile-2bJRaP { background: #1DB954 !important; }
.topSectionPlaying-1J5E4n > .headerFill-adLl4x > .activityProfile-2bJRaP { background: #7289DA !important; }
.topSectionStreaming-1Tpf5X > .headerFill-adLl4x > .activityProfile-2bJRaP { background: #593695 !important; }
.actionButton-3W1xZa { background: var(--background-primary) !important;}


/* --- 👤 PARAMETRE UTILISATEUR --- */

/* Facturation */
.paymentRow-2e7VM6, .pageActions-1SVAnA, .codeRedemptionRedirect-1wVR4b { background: var(--background-secondary-alt) !important; }

/* Voix & Vidéo */
.previewOverlayInner-1WXURq { background: var(--background-secondary-alt) !important; }

/* Activité de jeux */
.notDetected-33MY4s { background: var(--background-secondary-alt) !important; }


/* --- ⚙️ PARAMETRE SERVEUR --- */

/* Emoji */
.emojiInput-1aLNse { background: var(--background-secondary-alt) !important;}

/* Logs du serveur */
.headerExpanded-CUEwZ5, .headerDefault-1wrJcN, .headerClickable-2IVFo9 { background: var(--background-secondary-alt) !important;} /* Coloration des logs */
.changeDetails-bk98pu { background: var(--background-secondary-alt) !important; }
.auditLog-3jNbM6 { border-color: var(--background-tertiary) !important;}
.divider-1pnAR2 { display: none;}

.popoutList-T9CKZQ { background: var(--background-secondary-alt) !important; }
.selectableItem-1MP3MQ:hover { background: var(--background-secondary) !important; }

/* Intégrations */
.card-o7rAq-, .header-146Xl5 { background: var(--background-secondary-alt) !important; }
.body-1zRX82 { background: var(--background-secondary) !important; }

/* Widget */
.colorGrey-2DXtkV { color: #fff !important; }

/* Vue d'ensemble */
.css-3vaxre-menu { background: var(--background-secondary-alt) !important; border: 1px solid var(--background-tertiary) !important; }

/* Ecran d'acceuil */
.colorPrimary-3b3xI6 { background: var(--background-secondary) !important; }

/* Boost dans parametres */
.tierBody-x9kBBp { background: var(--background-secondary) !important; }
.tierHeaderContent-2-YfvN, .tierInProgress-3mBoXq { background: var(--background-secondary-alt) !important; }
.background-3xPPFc { color: var(--background-secondary-alt) !important; }

/* Boost */
.perksModal-fSYqOq { background: var(--background-primary) !important; }
.tierMarkerBackground-3q29am, .tierHeaderLocked-1s2JJz, .barBackground-2EEiLw, .icon-TYbVk4 { background: var(--background-secondary-alt) !important; }
.option-96V44q.selected-rZcOL-, .tierBody-16Chc9, .perk-2WeBWW, .tierMarkerInProgress-24LMzJ { background: var(--background-secondary) !important; }

/* Bannissements */
.card-FDVird::before { background: var(--background-secondary) !important; border-color: #101320 !important; }


/* --- 🌺 AUTRE --- */

/* Message de bienvenue */
.main-3auUui { background: var(--background-primary) !important;}

/* Exporateur de serveurs */
.css-ix84ef-menu { background: var(--background-secondary-alt) !important; }
.pageWrapper-1PgVDX, .css-1adxh11-control, .css-12hk9yc-control, .css-1emou8a-control { background: var(--background-secondary) !important; }

/* Suppresion du logo Discord */
.wordmark-2iDDfm > svg, .children-19S4PO:after { display: none; }